.cabecera{
    background-color: cadetblue;
}

.rosa{
    background-color: palevioletred;
}

.verde{
    background-color: green;
}

.azul{
    background-color: darkslateblue;
}

.rojo{
    background-color: red;
}