.cabecera{
    background-color: aqua;
}

.menu{
    background-color: aqua;
}

.banner{
    background-color: aqua;
}

.nav1{
    background-color: aqua;
}

.nav2{
    background-color: aqua;
}

.cuerpo{
    background-color: aqua;
}

.pie{
    background-color: aqua;
}